body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background-color: #f5f5f5;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    min-height: 40vh;
    background: linear-gradient(135deg, #157734, #d9de98);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #db9189;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.tasks {
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.checked {
    text-decoration: line-through;
    opacity: 0.7;
}

#priority {
    margin-right: 10px;
}